# CockroachDB — local (docker compose)
DATABASE_URL="postgresql://root@localhost:26257/madrasa?sslmode=disable"

# CockroachDB Cloud (production)
# DATABASE_URL="postgresql://user:password@host.crdb.io:26257/madrasa?sslmode=verify-full"

NEXTAUTH_SECRET="change-me"          # openssl rand -base64 32
NEXTAUTH_URL="http://localhost:3002"
NEXT_PUBLIC_APP_URL="http://localhost:3002"
# RESEND_API_KEY="..."               # optionnel
